.chatScreen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem;
}

.chatMessages {
    /* margin: 1.5rem 0; */
    overflow-y: scroll;
    /* hiding scrollbar:  */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.chatMessages::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.chatMessage {
    white-space: pre-wrap; /* Preserve whitespace and wrap text */
    word-wrap: break-word;  /* Ensure long words are broken to fit */
    /* background-color: black;
    color: white; */
}

.chatForm {
    justify-content: center;
}

.chatFormInner {
    width: 75vw;
    height: 3rem;
}

.formText {
    width: 80%;
    height: 100%;
}

.formButton {
    width: 20%;
    height: 100%;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
}